# Mac crap
.DS_Store
software/.DS_Store
software/remote app/.DS_Store
software/remote app/basic_ui/.DS_Store
software/remote app/components/.DS_Store
software/remote app/components/blind/.DS_Store
software/remote app/components/light/.DS_Store
software/remote app/images/.DS_Store
software/remote app/remote/.DS_Store
software/remote app/remote/basic_ui/.DS_Store
software/remote app/remote/components/.DS_Store
software/remote app/remote/components/blind/.DS_Store
software/remote app/remote/components/light/.DS_Store
software/remote app/remote/images/.DS_Store

# Windows crap
software/remote app/build-*
software/remote app/remote/translations/.DS_Store

# Linux build files
software/build-*

#Translation files
software/remote/translations/*
!software/remote/translations/en_US.ts
