### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk# Thumbnails
._*
### Linux ###
*~
.directory
### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
### Windows ###
# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

### Project specific ###
build*
software/build-*
software/remote/translations/.DS_Store

# plugins
plugins/*.so

#Translation files
translations/*.ts
translations/*.qm
!translations/en_US.ts
*.user
*.dylib
translations/bg_BG.ts
translations/cs_CZ.ts
translations/da_DK.ts
translations/de_DE.ts
translations/el_GR.ts
translations/en_US.ts
translations/es_ES.ts
translations/et_EE.ts
translations/fi_FI.ts
translations/fr_CA.ts
translations/fr_FR.ts
translations/ga_IE.ts
translations/hr_HR.ts
translations/hu_HU.ts
translations/it_IT.ts
translations/lt_LT.ts
translations/lv_LV.ts
translations/mt_MT.ts
translations/nl_NL.ts
translations/no_NO.ts
translations/pl_PL.ts
translations/pt_BR.ts
translations/pt_PT.ts
translations/ro_RO.ts
translations/sk_SK.ts
translations/sl_SI.ts
translations/sv_SE.ts
