
software/.DS_Store
software/remote app/.DS_Store
software/remote app/basic_ui/.DS_Store
software/remote app/components/.DS_Store
software/remote app/components/blind/.DS_Store
software/remote app/components/light/.DS_Store
software/remote app/images/.DS_Store
