[Unit]
Description=Sharp init
DefaultDependencies=false

[Service]
Type=simple
ExecStart=/usr/bin/sharp-init
RemainAfterExit=yes
Restart=no

[Install]
WantedBy=sysinit.target
